*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white-color;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @include for-size(tablet-portrait) {
    width: 480px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  @include font(700, 28px, 1.18);
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-color;

  @include for-size(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  background: $background-color;
  color: $white-color;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
