$primary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$dark-color: #212121;
$black-color: #000000;
$background-color: rgba(47, 48, 58, 0.8);
$cont-color: rgba(255, 255, 255, 0.6);
$footer-color: #2f303a;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@mixin font($f-w, $f-s, $l-h) {
  font-weight: $f-w;
  font-size: $f-s;
  line-height: $l-h;
}
