@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}

.features-list {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.features-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: auto;
  padding-right: auto;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-title {
  text-align: center;
  color: $dark-color;

  &.white-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    background: $white-color;
  }

  @include for-size(tablet-landscape) {
    text-align: left;
  }

  @include for-size(desktop) {
    text-align: left;
  }
}

.features-discription {
  margin-top: 0;
  margin-bottom: 0;
  @include font(400, 14px, 1.71);
  letter-spacing: 0.03em;
}
