@media screen and (min-width: 768px) {
  .gallery-flex {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery-item {
  background: $white-color;
  border: 1px solid #eeeeee;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include for-size(tablet-landscape) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;

    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}

.gallery-picture {
  width: 100%;
}

.gallery-block {
  display: block;
  text-decoration: none;
  transition: box-shadow $duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery-box {
  position: relative;
  overflow: hidden;
}

.gallery-text {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  @include font(400, 18px, 1.55);
  align-items: center;
  color: $white-color;
  transform: translateY(100%);
  transition: opacity $duration $timing-function,
    transform $duration $timing-function;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.gallery-item:hover .gallery-box,
.gallery-item:focus .gallery-box,
.gallery-item:hover .gallery-text,
.gallery-item:focus .gallery-text {
  transform: translateY(0);
  opacity: 1;
}

.gallery-title-img {
  padding: 20px 24px;
}

.gallery-title {
  margin-top: 0;
  margin-bottom: 4px;
  @include font(900, 18px, 2);
  letter-spacing: 0.06em;
  color: $dark-color;
}

.gallery-discription {
  margin-top: 0;
  margin-bottom: 0;
  @include font(400, 16px, 1.88);
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
